@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core";
}

<div class="text-center">
    <h1 class="display-4">Test Pipelines on OKD</h1>
    <font color="yellow"><p>Deploy Web apps with ASP.NET Core on OKD</p></font>
    <p>Modify data: 2025-05-24 19:15</p>
</div>
