@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core";
}

<div class="text-center">
    <h1 class="display-4">Test Pipelines on OKD</h1>
    <p>Deploy Web apps with ASP.NET Core on OKD</p>
    <p>Modify data: 2025-05-24 12:01</p>
</div>
